* {
    background-color: rgb(219, 230, 139);

}

.meat {
    border: 2px solid red;
    margin: auto;
    padding: 20px; 
}

.seafood {
    border: 2px solid blue;
    margin: auto;
    padding: 20px;
}
.greens {
    border: 2px solid green;
    margin: auto;
    padding: 20px;
}

